{% extends 'admin/adminbase.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'libs/webpack_bundles/mavon-editor/css/mavon_editor.css' %}"/>
{% endblock %}

{% block rightside %}
<div id="editor">
    {% csrf_token %}
    <mavon-editor v-model="value" @save="$save"/>
</div>
<div class="ui basic modal">
    <div class="ui header">
        <div class="ui text loader">保存文章 ing ...</div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'libs/webpack_bundles/mavon-editor/mavon_editor.js' %}"></script>
<script src="{% static 'js/admin/article/add.js' %}"></script>
{% endblock %}
