{% extends 'admin/adminbase.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'libs/webpack_bundles/mavon-editor/css/mavon_editor.css' %}"/>
{% endblock %}

{% block rightside %}
<div id="editor">
    {% csrf_token %}
    <input type="hidden" id="id" value="{{ article.id }}"/>
    <input type="hidden" id="content" value="{{ article.content }}"/>
    <input type="hidden" id="meta" value="{{ article.meta }}"/>
    <mavon-editor v-model="value" @save="$save"/>
</div>
<div class="ui basic modal">
    <div class="ui icon header">
        <div class="ui text loader">保存修改 ing ...</div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'libs/webpack_bundles/mavon-editor/mavon_editor.js' %}"></script>
<script src="{% static 'js/admin/article/modify.js' %}"></script>
{% endblock %}
