{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="ui container" id="body">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui sticky">
            <div class="ui vertical pointing menu">
                <div class="header item">
                    wdcxc's blog 管理后台
                </div>
                <a class="{% ifequal path.module 'overview' %}active teal{% endifequal %} item" href="/admin/overview/index">
                    <i class="home icon"></i> 总览
                </a>
                <a class="{% ifequal path.module 'article' %}active teal{% endifequal %} item" href="/admin/article/index">
                    <i class="write icon"></i> 文章管理
                </a> 
                <a class="{% ifequal path.module 'column' %}active teal{% endifequal %} item" href="/admin/column/index">
                    <i class="list icon"></i> 栏目管理
                </a>
                <a class="{% ifequal path.module 'comment' %}active teal{% endifequal %} item">
                    <i class="comments icon"></i> 评论管理
                </a>
                <a class="{% ifequal path.module 'exit' %}active teal{% endifequal %} item">
                    <i class="power icon"></i> 退出
                </a>
            </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui large breadcrumb">
                <div class="section">{{ path.module }}</div>
                <i class="right angle icon divider"></i>
                <div class="active section">{{ path.action }}</div>
            </div>
            <div class="ui divider"></div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>$(".ui.sticky").sticky({context:'#body'})</script>
{% endblock %}

