{% extends 'base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/app/rightside.css' %}"/>
{% endblock %}

{% block body %}
<div class="ui grid">
    <div class="row">
        {% include 'app/header.html' %}
    </div>
    <div class="row">
        <div class="ui container grid">
            <div class="ui ten wide column"> 
            {% block leftside %}{% endblock %}
            </div>
            <div class="ui six wide column">
            {% block rightside %}{% include 'app/rightside.html' %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
